.flt-lft {
  float: left;
}
.flt-rgt {
  float: right;
}
.flt-clr-lft {
  clear: left;
}
.flt-clr-bth {
  clear: both;
}
.order-number {
  width: 80px;
}
.date-width {
  width: 250px;
}
.ft-sz-20 {
  font-size: 20px;
}
.width-70 {
  width: 70px;
}
.pdg-rgt-15 {
  padding-right: 15px;
}
.input-number {
  background-color: #ffdd57;
  border-radius: 4px;
  padding: 1px 5px;
  box-shadow: 1px 1px 1px #949494;
}
.mg-btm-10 {
  margin-bottom: 10px;
}
.mg-btm-30 {
  margin-bottom: 30px;
}
.mg-tp-100 {
  margin-top: 100px;
}
.inline-block {
  display: inline-block;
}

.toggle-button {
  border-radius: 2px;
  border: 1px solid grey;
  padding: 1px;
  margin-bottom: 2px;
  font-size: 12px;
}
.toggle-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.hlt {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px;
  background: #00b89c3d;
}
.colorize {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px;
  background: #209cee36;
}
.hlt:hover {
  cursor: pointer;
  opacity: 0.8;
}
.columns-inline {
  background-color: #80808045;
}
.colorize,
.columns-inline:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cancel-mg-rgt {
  margin-right: 0px !important;
}
.content-center {
  text-align: center;
}
#main-heading {
  font-size: 28px;
  color: #363636;
  text-decoration: underline;
}
#hide-show-btn {
  font-size: 16px;
}
.logo {
  width: 170px;
  padding: 5px;
  border: 1px solid #f1eeee;
  border-radius: 2px;
}
.info {
  width: 60px;
  padding: 1px;
  float: right;
}
.info:hover {
  cursor: pointer;
}

.svg-language {
  width: 40px;
}
.svg-language:hover {
  opacity: 0.6;
  cursor: pointer;
}
.svg-zoom {
  width: 40px;
  cursor: pointer;
}
.svg-zoom:hover {
  cursor: pointer;
  opacity: 0.6;
}
.font-element {
  background: #f3f3f3;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}
.font-element:hover {
  opacity: 0.8;
}
#zooms {
  display: inline-block;
  margin-bottom: 5px;
}
#fonts {
  margin-left: 10px;
  display: inline-block;
}

.settings-section {
  border: 1px solid #e2dddd;
  border-radius: 2px;
  margin-right: 5px;
}
.left-corner-text {
  position: relative;
  border-radius: 2px;
  margin-right: 10px;
  color: #353636;
  /* border: 1px solid #c5c5c5; */
  padding-right: 2px;
  padding-left: 2px;
  box-shadow: 0px 0px 1px 0 #4a4a4a;
}

.left-corner-text-main {
  font-size: 18px;
  border: 1px solid #00d1b2;
  float: left;
  border-radius: 2px;
  padding: 4px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.content-description {
}
#remove-content {
  background: #ff1f4b29;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 3px;
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.remove-content-text:hover {
  opacity: 0.7;
  cursor: pointer;
}
.box-center {
  margin: 0 80px;
}
.box-border {
  border-radius: 2px;
  margin-bottom: 20px;
}
.total-value {
  color: #3273dc;
  font-size: 20px;
}
.path-amount {
  width: 60px;
}
.preview-mode {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
}
.add-remove-icon {
  border: 1px solid #e8ecee;
  font-size: 20px;
  padding: 0 6px;
  border-radius: 4px;
  padding-bottom: 2px;
  margin-top: 1px;
}
.add-remove-icon:hover {
  background-color: #7a7a7a24;
  cursor: pointer;
}
.overall {
  float: left;
  position: relative;
  top: -10px;
  margin-left: 15px;
}
@media only screen and (max-width: 760px) {
  /* portrait phones */
  .box-border {
    margin: 0 20px;
  }
  .box-center {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .toggle-button {
    margin-left: 10px;
  }
}
@media print {
  @page {
  }
  .header {
    position: fixed;
  }

  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.input-number2 {
  background-color: #ffdd57e0;
  border-radius: 4px;
  padding: 1px 5px;
  box-shadow: 1px 1px 1px #949494;
  color: black;
}
.night-logo {
  background: #ededed;
  border: 1px solid #f4ecec;
}
.body2 {
  background: #363636d4;
  color: white;
}
.total-value2 {
  color: #90baff;
  font-size: 20px;
  font-weight: 600;
}
.left-corner2 {
  border: 1px solid #b9b6b6;
}
.left-corner-text2 {
  color: white;
  position: relative;
  border-radius: 2px;
  margin-right: 10px;
  border: 1px solid #c5c5c5;
  padding-right: 2px;
  padding-left: 2px;
  box-shadow: 0px 0px 1px 0 #4a4a4a;
}
.font-element2 {
  background: #6d6d6d;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}
.left-corner-text-main2 {
  font-size: 18px;
  background: #00d1b236;
  border: 1px solid #00d1b2;
  float: left;
  border-radius: 2px;
  padding: 4px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.new-font {
  font-family: 'Happy Monkey', cursive;
}
.add-obracun {
  margin-bottom: 10px;
}
.add-prijevozni {
  margin-bottom: 16px;
}
.add-ostali {
  margin-bottom: 10px;
}
/* obracun */
.data-preview-obracun {
  border: 1px solid gainsboro;
  border-radius: 3px;
  padding: 5px;
  background: #f3f3f3;
  margin-bottom: 5px;
}
.preview-edit-obracun {
  border: 1px solid #b0a8a8;
  background: #ffdd57;
  padding: 3px;
  border-radius: 2px;
}
.preview-delete-obracun {
  border: 1px solid #b0a8a8;
  background: #b7ddf7;
  padding: 3px;
  border-radius: 2px;
  margin-left: 3px;
}
.preview-delete-obracun:hover,
.preview-edit-obracun:hover {
  cursor: pointer;
  opacity: 0.8;
}
.modify-operation-obracun {
  margin-bottom: 5px;
}

/* prijevozni */
.data-preview-prijevozni {
  border: 1px solid gainsboro;
  border-radius: 3px;
  padding: 5px;
  background: #f3f3f3;
  margin-bottom: 5px;
}
.preview-edit-prijevozni {
  border: 1px solid #b0a8a8;
  background: #ffdd57;
  padding: 3px;
  border-radius: 2px;
}
.preview-delete-prijevozni {
  border: 1px solid #b0a8a8;
  background: #b7ddf7;
  padding: 3px;
  border-radius: 2px;
  margin-left: 3px;
}
.preview-delete-prijevozni:hover,
.preview-edit-prijevozni:hover {
  cursor: pointer;
  opacity: 0.8;
}
.modify-operation-prijevozni {
  margin-bottom: 5px;
}

/* ostali */
.data-preview-ostali {
  border: 1px solid gainsboro;
  border-radius: 3px;
  padding: 5px;
  background: #f3f3f3;
  margin-bottom: 5px;
}
.preview-edit-ostali {
  border: 1px solid #b0a8a8;
  background: #ffdd57;
  padding: 3px;
  border-radius: 2px;
}
.preview-delete-ostali {
  border: 1px solid #b0a8a8;
  background: #b7ddf7;
  padding: 3px;
  border-radius: 2px;
  margin-left: 3px;
}
.preview-delete-ostali:hover,
.preview-edit-ostali:hover {
  cursor: pointer;
  opacity: 0.8;
}
.modify-operation-ostali {
  margin-bottom: 5px;
}
