td {
  border-bottom: 1pt solid black;
}

#logo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 18px;
}
.center {
  text-align: center;
}
.blc {
  display: block;
}
.float-right {
  float: right;
  clear: both;
}
.fw-600 {
  font-weight: 600;
}
.intro-header-container {
  background: #efefef;
  border: 1px solid #dedcdc;
  height: auto;
  margin-bottom: 40px;
}

span.intro-header {
  text-align: center;
}
span.travel-txt {
  font-size: 18px;
  font-weight: 600;
}
span.travel-rest {
  font-size: 14px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  text-align: center;
  border: 1px solid rgb(216, 212, 212);
}
.back-button {
  font-weight: 600;
  width: 75px;
  padding: 3px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-size: 17px;
  color: #ffffff;
  background: #ff3860;
}
.back-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.print-only {
  display: block;
}
@media print {
  .print-only {
    display: none !important;
  }
}
.save-button {
  background: rgb(50, 115, 220);
  display: inline-block;
  text-align: center;
}
.mg-btm-5 {
  margin-bottom: 5px;
}
