@font-face {
  font-family: 'Prociono';
  src: url('../font/Prociono-Regular-webfont.ttf');
}
.typeahead,
.tt-query,
.tt-hint {

  font-size: 16px;
  height: 30px;
  line-height: 30px;

  width: 100%;
}
.typeahead {
  width: 100%;
 
}
.typeahead:focus {
 
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999999;
}
.tt-menu {
  width: 100%;
  margin: 2px 0;
  padding: 8px 0;
  background-color: #ededed;
  border: 1px solid #ccc;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  opacity: 1;
}
.tt-suggestion {
  color: black;
  font-size: 16px;
  padding: 2px 5px;
  display: block;
  line-height: 15px;
}
.tt-suggestion:hover {
  background-color: #0097cf;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.typehead-wrapper {
  text-align: center;
  position: relative;
  top: -40px;
  padding-left: 15px;
  padding-right: 15px;
}
